include dganalytics/connectors/gpc/source_api_schemas/*.json
include dganalytics/connectors/gpc_v2/source_api_schemas/*.json
include dganalytics/connectors/sdx/source_api_schemas/*.json
include dganalytics/connectors/salesforce/source_api_schemas/*.json
include dganalytics/connectors/niceincontact/source_api_schemas/*.json
include dganalytics/helios/source_api_schemas/*.json