azure-core
azure-common
azure-datalake-store
azure-identity
azure-keyvault
azure-keyvault-secrets
azure-mgmt-resource
azure-storage-blob
azure-storage-file-datalake
compress_json
dnspython
findspark
inflection
pandas
pyarrow
pymongo
pysftp
pyspark
requests
websocket_client
websocket_client
xlrd
py7zr