azure-core
azure-common
azure-datalake-store
azure-identity
azure-keyvault
azure-keyvault-secrets
azure-mgmt-resource
azure-storage-blob
azure-storage-file-datalake
compress_json
dnspython
findspark
inflection
pandas
pymongo
pysftp
pyspark
requests
websocket_client
xlrd
py7zr
requests[security]
validate_email
click
openpyxl
pyunpack
pyxlsb
threading