pandas
pyspark
azure-datalake-store
findspark
compress_json
inflection
websocket_client
pyarrow
azure-core
azure-common
azure-mgmt-resource
azure-keyvault
azure-keyvault-secrets
azure-identity
azure-storage-blob
azure-storage-file-datalake
websocket_client